@font-face {
  font-family: avenir;
  src: url(Avenir.ttc);
}

html, body {
  min-height: 100%;
  position: relative;
  height: 100%;
  min-height: 100% !important;
   background-color: #7FA092;
  display: block;
  background-image: url(img/border.png);
  background-position: right;
  background-repeat: repeat-y;
  background-size: auto 110%;
}

#app {
  background-color: transparent;
 position: relative;
  height: 100%;
  min-height: 100% !important;
  display: block;
}


/*.right-block {
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0;
  width: 30px;
  background-color: #ADE1F4;

}

.right-block-thick {
  position: absolute;
  right: 30px;
  height: 100%;
  top: 0;
  width: 80px;
  background-color: #EA866B;

}*/

.jumbotron {
  height: 100vh !important;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  padding-top: 100px;
}

#home {
  position: relative;
}

#definition {
  width: 45%;
  height: 35vh;
  margin-top: 23vh;
  float: left;
  color: white;
  margin-right: 5%;
}

p span {
  color: #FAEC6D;
}

#search {
  width: 50%;
  height: 35vh;
  margin-top: 23vh;

  float: left;
  position: relative;
}

#search form {
  text-align: center;
  position: relative;
}

#search form input {
  width: 373px;
  height: 43px;
  border-color: transparent;
  border-style: none;
  padding: 15px;
  margin-top: 40px;
  border: none;
  font-family: avenir, Helvetica, sans-serif;
}

#search form button {
  margin-top: 30px;
  background-color: transparent;
  border-color: #FAEC6D;
  border: 5.5px solid #FAEC6D;
  padding: 6px 20px;
  border-radius: 1px;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: avenir, Helvetica, sans-serif;
  width: 374px;
  height: 43px;
}

#search form button:hover {
  background-color: rgba(173, 225, 244, 1);
  border-color: rgba(173, 225, 244, 1);
}

#PlacesAutocomplete__autocomplete-container {
  border: none !important;
  width: 26vw !important;
  margin: 0 auto !important;
  position: relative !important;
  text-align: left;
}

.container.p-y-1 {
  margin: 0px 10px;
  width: 100%;
  padding: 0px;
}

.navbar-brand {
  height: 100px;
}

.navbar-brand img {
  width: 250px;
  height: auto;
}



/*GRID VIEW FOR BRUNCH RESUTLS */

.m-t-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 92.5vw;
  height: 100vh;
  padding-top: 150px;
  background-color:  #BDC6C1 ; /*#BDC6C1*/
  overflow: scroll;
}

.white-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 92.5vw;
  height: 105px;
  background-color: #BDC6C1;
  z-index: 1000;
}

.brunch-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
  justify-content: space-around;
}

.brunch-grid ul li {
  margin: 20px 10px 40px 10px;
  padding: 0px;
  height: 240px;
  font-family: avenir;
  line-height: 135px;
  color: #7FA092;
  background-color: white;
}

    /*triangle in corner */

    li.corner {
      position: relative;
    }

    li.corner::before,
    li.corner::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-color: transparent;
        border-style: solid;
    }

    li.corner::before {
        border-width: .5em;
        border-right-color: #7FA092;
        border-bottom-color: #7FA092;
    }

    li.corner::after {
        border-radius: 0.4em;
        border-width: 0;
        border-right-color: #0c0;
        border-top-color: #0c0;
    }

    /*end triangle in corner */



.brunch-grid ul li a.name-bottom {
  color: #7FA092;
  font-size: 12px;
  text-transform: lowercase;
  padding-left: 13px;
}

.brunch-grid ul li a img {
  width: 250px;
  text-align: center;
  -webkit-filter: brightness(150%) saturate(200%);  Safari
  filter: brightness(150%) saturate(200%);
  -webkit-filter: contrast(110%); /* Safari */
  filter: contrast(110%);

}

.box {
  width: 250px;
  height: 150px;
  overflow: hidden;
}


li.corner {
-webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
-moz-transform:scale(1); /*Mozilla scale version*/
-o-transform:scale(1); /*Opera scale version*/
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: initial;

}


li.corner:hover {
-webkit-transform:scale(1.04) ; /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.04) ; /*Mozilla scale version*/
-o-transform:scale(1.04) ; /*Opera scale version*/
}




/*----------SINGLE BRUNCH VIEW ----------*/

.white-nav2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 88vw;
  height: 105px;
  background-color: #7FA092;
  z-index: 1000;
}

h6 {
  text-transform: lowercase;
  color: white;
  margin-bottom: 20px;
  width: 441px;
  padding: 10px;
  border: 3px solid #ADE1F4;
}

h4, h4 a {
  color: #FAEC6D;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 0px;
  margin-top: 15px;
  letter-spacing: 1px;
}

h4 a:hover {
  color: #ADE1F4;
}


.info {
  width: 510px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 30vh;
  padding-left: 34px;

}

.large-photo {
  width: 250px;
  height: 200px;
  overflow: hidden;
  position: relative;
 /* border-radius: .5em;*/
  float: left;

}

.border {
  border: 3px solid #EA866B;
  padding: 15px;
  width: 286px;
  height: 236px;
  position: relative;
  float: left;
}

.deets {
  height: 235px;
  width: 135px;
  position: relative;
  float: left;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 15px;
  border: 3px solid white; /*#ADE1F4*/
  box-sizing: border-box;
}

.large-photo img {
  position: absolute;
  right: -20px;
  top: -10px;
  width: 320px;
  min-width: 300px;
  min-height: 210px;
}



@media screen and (max-width:560px){
  h6 {
    width: 286px;
    position: relative;
    margin: 0 auto;
  }

  .deets {
    height: 90px;
    width: 286px;
    position: relative;
    float: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    margin: 0 auto ;
    margin-top: 20px;

  }

  .border {
    position: relative;
    margin: 0 auto ;
    float: none;
    margin-top: 20px;
  }

  .info {
    width: 100vw;
    padding-left: 0px;

  }

  .white-nav2 {
    width: 100vw !important;
  }

}



/*----------MAP MAP MAP MAP MAP MAP ----------*/

.brunch-map {
  position: absolute;
  right: 0px;
  margin-right: 133px;
  width: 50%;
  height: 295px;
  top: 31.3vh;
  z-index: 0;
  border: 3px solid white;
  padding: 10px;
}


@media screen and (max-width:1290px){
  .brunch-map {
    position: absolute;
    right: 0px;
    margin-right: 133px;
    width: 40%;
    height: 295px;
    top: 31.3vh;
    z-index: 0;
  }
}

@media screen and (max-width:1090px){
  .brunch-map {
    position: absolute;
    right: 0px;
    margin-right: 133px;
    width: 30%;
    height: 295px;
    top: 31.3vh;
    z-index: 0;
  }

  #definition {
    width: 40%;
  }

}

@media screen and (max-width:900px){
  .brunch-map {
    position: absolute;
    margin: 0 auto;
    margin-top: 320px;
    width: 441px;
    margin-left: 34px;
    left: 0;
    margin-bottom: 25px;
  }
   .white-nav2 {
    width: 80vw;
  }
}

@media screen and (max-width:560px){
  .brunch-map {
    position: relative;
    margin: 0 auto;
    margin-top: 317px;
    margin-bottom: 40px;
    width: 286px;
    height: 296px;

  }
  html, body {
    background-image: none;
  }


}

.clearfix {
  height: 100%;
}

.clearfix:after {
content: "";
display: table;
clear: both;

}


.container-me {
  padding: 0px 140px;
}


@media screen and (max-width:1030px){
  #definition {
    width: 400px;
    clear: both;
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
  }
  #search {

    margin: 0 auto;
    clear: both;

  }
}

@media screen and (max-width:650px){
  .container-me {
    padding: 0px 42px;
  }

}



@media screen and (max-width:560px){
  #definition {
    width: 270px;
    clear: both;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
  }
  #search {
    margin: 0 auto;
    clear: both;
  }

  #search form input {
    width: 270px;
  }

  #search form button {
    width: 270px;
  }

}
